.header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  padding: 0 10px;

  &__inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-menu {
    display: none;
    cursor: pointer;
  }
}

.nav {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 10px;
  }

  &__link {
    color: black;
    &:hover {
      color: #33a8f6;
    }
  }
}

@media (max-width: 520px) {
  .header {
    &__mobile-menu {
      display: block;
    }
  }
  .nav {
    display: none;
  }
}
