.footer {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
  padding: 0 10px;

  &__inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
